<html>
	<head>
		{% if title %}
		<title>{{title}} - by kissjava</title>
		{% else %}
		<title>Welcome ... - by kissjava</title>
		{% endif%}
	</head>
	<body>
		<div>Myblog:
			<a href="{{ url_for('index') }}">Home</a>
	        {% if g.user.is_authenticated %}
	        | <a href="{{ url_for('user', nickname = g.user.nickname) }}">你的个人资料</a>
        	| <a href="{{ url_for('logout') }}">退出登陆</a>
	        {% endif %}
		<div>
		<hr>
		{% with message = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}	
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %} {% endblock %}
	</body>
</html>